.advantages {
  background-image: linear-gradient(175.4deg, $white 34%, $gray 34%, $gray 66%);
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    min-width: 620px;
  }

  @media (min-width: 1200px) {
    min-width: 960px;
  }
}

.advantages__promo {
  width: 320px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 40px auto;
  background-color: transparent;
  text-align: center;

  @media (min-width: 660px) {
    width: 588px;
    font-size: 40px;
    line-height: 55px;
    margin-top: 46px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 780px;
    font-size: 50px;
    line-height: 68px;
    padding-top: 17px;
  }
}

.advantages__promo p {
  @media (min-width: 660px) {
    margin: 0;
  }

  // @media (min-width: 1200px) {
  //   width: 780px;
  //   font-size: 50px;
  //   line-height: 68px;
  // }
}

.advantages__promo p + p {
  margin-top: 30px;
  margin-bottom: 112px;

  @media (min-width: 660px) {
    width: 340px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1200px) {
    width: 430px;
  }
}

.advantages__wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/mobile-smile-mobile.png");
  background-repeat: no-repeat;
  background-position: 62px 426px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile-smile-mobile@2x.png");
    background-size: 157px auto;
  }

  @media (min-width: 660px) {
    width: 310px;
    padding-left: 310px;
    padding-top: 103px;
    background-image: url("../img/iphone-3-tablet.png");
    background-repeat: no-repeat;
    background-position: 0 33px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  @media (min-width: 1200px) {
    width: 889px;
    min-height: 250px;
    padding-left: 0;
    padding-top: 413px;
    background-image: url("../img/iphone-1-desktop.png"),
      url("../img/iphone-2-desktop.png"),
      url("../img/iphone-3-desktop.png");
    background-position: -30px 56px,
      290px 56px,
      610px 56px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-1-desktop@2x.png"),
        url("../img/iphone-2-desktop@2x.png"),
        url("../img/iphone-3-desktop@2x.png");
      background-size: 308px auto;
    }
  }
}

.advantages__list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 704px;

  @media (min-width: 660px) {
    text-align: left;
    width: 310px;
    margin-left: auto;
    margin-right: 20px;
    min-height: 410px;
  }

  @media (min-width: 1200px) {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 887px;
    min-height: 250px;
    margin-right: auto;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: 1200px) {
    width: 240px;
    font-size: 30px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
  }
}

.advantages__text {
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: 660px) {
    margin-bottom: 34px;
  }

  @media (min-width: 1200px) {
    width: 248px;
    font-size: 18px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
