.button-form {
  text-align: center;
  vertical-align: middle;
  background-color: $green;
  cursor: pointer;
  word-break: break-all;
  box-sizing: border-box;
  width: 264px;
  min-height: 58px;
  border: 2px solid $green;
  border-radius: 1px;
  text-transform: uppercase;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.button-heart {
  width: 15px;
  height: 14px;
  border: none;
  margin-left: 17px;
  margin-top: 5px;
  background: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  padding: 0;
}

.button-palette-effects {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.button-palette-form {
  width: 280px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  cursor: pointer;
}
