.button-form {
  text-align: center;
  vertical-align: middle;
  background-color: $green;
  cursor: pointer;
  word-break: break-all;
  box-sizing: border-box;
  width: 280px;
  min-height: 63px;
  border: 2px solid $green;
  border-radius: 1px;
  text-transform: uppercase;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: 660px) {
    width: 300px;
    margin-top: 9px;
    margin-bottom: 5px;
  }

  // @media (min-width: 1200px) {
  //   width: 940px;
  // }
}
