.button-heart {
  width: 15px;
  height: 14px;
  border: none;
  margin-left: 17px;
  margin-top: 5px;
  background: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  padding: 0;
}
