.contacts__wrapper {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 620px) {
    min-width: 620px;
  }

  @media (min-width: 940px) {
    width: 940px;
    justify-content: space-around;
  }
}

.contacts__title {
  width: 222px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 82px;

  @media (min-width: 620px) {
    width: 370px;
    font-size: 40px;
    line-height: 54px;
    font-weight: 300;
  }

  @media (min-width: 940px) {
    width: 462px;
    font-size: 50px;
    line-height: 68px;
    font-weight: 300;
  }
}

.contacts__title + p {
  padding-top: 0;
  margin-bottom: 36px;
}

.contacts__item-title {
  font-size: 18px;
  line-height: 25px;
}

.contacts__link {
  display: block;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $red;
}

.contacts__item {
  margin-bottom: 17px;
}

.contacts__item--writing {
  @media (min-width: 940px) {
    order: 3;
  }
}

.contacts__item-text {
  width: 250px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $red;
  padding-left: 37px;
  margin: 0;
}
