.contacts__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contacts__title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 82px;
}

.contacts__title + p {
  padding-top: 0;
  margin-bottom: 36px;
}

.contacts__item-title {
  font-size: 18px;
  line-height: 25px;
}

.contacts__link {
  display: block;
  font-size: 24px;
  line-height: 33px;
  color: $red;
}

.contacts__item {
  margin-bottom: 17px;
}

.contacts__item-text {
  width: 250px;
  font-size: 24px;
  line-height: 33px;
  color: $red;
  padding-left: 37px;
  margin: 0;
}
