.contacts__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 18px;

  @media (min-width: 660px) {
    width: 620px;
    justify-content: space-between;
    padding-bottom: 7px;
  }

  @media (min-width: 1200px) {
    width: 940px;
  }
}

.contacts__title {
  width: 222px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 41px;

  @media (min-width: 660px) {
    width: 370px;
    padding-top: 43px;
    font-size: 40px;
    line-height: 54px;
    font-weight: 300;
  }

  @media (min-width: 1200px) {
    width: 462px;
    font-size: 50px;
    line-height: 68px;
    font-weight: 300;
    padding-top: 59px;
  }
}

.contacts__title + p {
  padding-top: 0;
  margin-bottom: 32px;
  padding-left: 15px;

  @media (min-width: 660px) {
    padding-left: 27px;
  }
}

.contacts__item-title {
  display: block;
  height: 24px;
  padding-top: 2px;
  font-size: 18px;
  line-height: 25px;

  @media (min-width: 660px) {
    padding-bottom: 3px;
  }
}

.contacts__link {
  display: block;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $red;

  &:hover {
    color: $dark-blue;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: 1200px) {
    padding-top: 20px;
  }
}

.contacts__item {
  margin-bottom: 16px;

  @media (min-width: 660px) {
    padding-left: 47px;
  }

  @media (min-width: 1200px) {
    padding-top: 6px;
    margin-bottom: 0;
  }
}

.contacts__item--writing {
  @media (min-width: 660px) {
    padding-left: 4px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    order: 3;
  }
}

.contacts__item--guests {
  padding-top: 4px;

  @media (min-width: 660px) {
    padding-top: 24px;
    padding-left: 185px;
  }

  @media (min-width: 1200px) {
    padding-top: 6px;
    padding-left: 19px;
  }
}

.contacts__item-text {
  width: 250px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $red;
  padding-left: 0;
  margin: 0;

  @media (min-width: 1200px) {
    padding-top: 20px;
  }
}
