.diagram {
  display: none;

  @media (min-width: 660px) {
    width: 620px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1200px) {
    width: 1200px;
    background-color: $gray;
  }
}

.diagram__title {
  margin: 0;
  padding-top: 96px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 170px;

  @media (min-width: 1200px) {
    line-height: 30px;
    padding-top: 115px;
    width: 300px;
  }
}

.diagram__wrapper {
  width: 310px;
  padding: 0 20px 27px 310px;
  background-image: url("../img/diagram-tablet.svg");
  background-repeat: no-repeat;
  background-position: 0 54px;

  @media (min-width: 1200px) {
    width: 534px;
    padding-left: 500px;
    padding-right: 166px;
    padding-bottom: 111px;
    background-size: 298px auto;
    background-position: 131px 19px;
  }
}

.diagram__text {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;

  @media (min-width: 1200px) {
    width: 575px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 25px;
    margin-bottom: 20px;
  }
}

.diagram__text-info {
  @media (min-width: 1200px) {
    width: 400px;
    padding-right: 76px;
  }
}

.diagram__wrapper a {
  text-decoration: underline;
  color: $red;

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.diagram__title br {
  @media (min-width: 1200px) {
    display: none;
  }
}

.diagram__text br {
  @media (min-width: 1200px) {
    display: none;
  }
}
