.diagram {
  display: none;

  @media (min-width: 620px) {
    width: 620px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 940px) {
    width: 1200px;
  }
}

.diagram__title {
  margin: 0;
  padding-top: 97px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 170px;

  @media (min-width: 940px) {
    line-height: 30px;
    padding-top: 115px;
    width: 300px;
  }
}

.diagram__wrapper {
  width: 310px;
  margin-left: 310px;
  margin-right: 20px;

  @media (min-width: 940px) {
    width: 534px;
    margin-left: 500px;
    margin-right: 166px;
    margin-bottom: 215px;
  }
}

.diagram__text {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;

  @media (min-width: 940px) {
    width: 575px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 25px;
    margin-bottom: 20px;
  }
}

.diagram__text-info {
  @media (min-width: 940px) {
    width: 400px;
    padding-right: 76px;
  }
}

.diagram__wrapper a {
  text-decoration: underline;
  color: $red;

  @media (min-width: 940px) {
    font-size: 18px;
    line-height: 30px;
  }
}
