.download ul {
  list-style: none;
}


.download .download__wrapper {
  text-align: center;
  background-image: url("../img/phone-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 85px;
  margin-top: 89px;

  @media (min-width: 620px) {
    width: 620px;
    height: 524px;
    background-image: url("../img/phone-tablet.png");
    background-repeat: no-repeat;
    background-position: 0 171px;
    margin-top: 204px;
  }

  @media (min-width: 940px) {
    width: 940px;
    margin-top: 209px;
  }
}

.download__title {
  color: $white;
  width: 280px;
  margin: 24px 0 344px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  @media (min-width: 620px) {
    font-size: 40px;
    line-height: 48px;
    width: 230px;
    margin-bottom: 30px;
    padding-left: 34px;
  }

  @media (min-width: 940px) {
    padding-left: 0;
    font-size: 50px;
    line-height: 68px;
    width: 300px;
    margin-bottom: 38px;
  }
}

.download__list {
  display: flex;
  width: 204px;
  min-height: 47px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 32px auto 14px;

  @media (min-width: 620px) {
    margin-left: 46px;
    margin-top: 46px;
  }

  @media (min-width: 940px) {
    margin-top: 67px;
  }
}

.download__text {
  color: $white;
  width: 280px;
  height: 34px;
  margin: 0;


  @media (min-width: 620px) {
    font-size: 18px;
    font-weight: 300;
    width: 300px;
    padding-top: 12px;
  }

  @media (min-width: 940px) {
    padding-top: 30px;
  }
}
