.download ul {
  list-style: none;
}


.download__wrapper {
  text-align: center;
  background-image: url("../img/phone-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 85px;

  @media (min-width: 620px) {
    height: 716px;
    background-image: url("../img/phone-tablet.png");
    background-repeat: no-repeat;
    background-position: 0 171px;
  }
}

.download__title {
  color: $white;
  width: 280px;
  margin: 24px 20px 344px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  @media (min-width: 620px) {
    font-size: 40px;
    line-height: 48px;
    width: 230px;
    margin-bottom: 40px;
  }

  @media (min-width: 940px) {
    font-size: 50px;
    line-height: 68px;
    width: 300px;
    margin-bottom: 40px;
  }
}

.download__list {
  display: flex;
  width: 204px;
  min-height: 47px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 32px 58px 14px 58px;
}

.download__text {
  color: $white;
  width: 280px;
  height: 34px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 20px;

  @media (min-width: 940px) {
    font-size: 18px;
    font-weight: 300;
    width: 300px;
  }
}
