.download ul {
  list-style: none;
}

// .download {
//   @media (min-width: 660px) {
//     padding-top: 71px;
//   }
// }

.download__wrapper {
  text-align: center;
  background-image: url("../img/phone-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 110px;
  padding-bottom: 45px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/phone-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: 660px) {
    width: 620px;
    min-height: 619px;
    background-image: url("../img/phone-tablet.png");
    background-repeat: no-repeat;
    background-position: -20px 74px;
    padding-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-tablet@2x.png");
      background-size: 660px auto;
    }
  }

  @media (min-width: 1200px) {
    width: 940px;
    min-height: 743px;
    background-image: url("../img/phone-desktop.png");
    background-repeat: no-repeat;
    background-position: 16px 98px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}

.download__title {
  color: $white;
  width: 280px;
  margin: 0;
  padding: 23px 0 343px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 48px;
    width: 230px;
    padding: 94px 0 30px 35px;
  }

  @media (min-width: 1200px) {
    padding-left: 0;
    padding-top: 100px;
    font-size: 50px;
    line-height: 68px;
    width: 300px;
    padding-bottom: 37px;
  }
}

.download__list {
  display: flex;
  width: 204px;
  min-height: 47px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 32px auto 14px;

  @media (min-width: 660px) {
    margin-left: 46px;
    margin-top: 46px;
  }

  @media (min-width: 1200px) {
    margin-top: 67px;
  }
}

.download__text {
  color: $white;
  width: 280px;
  height: 34px;
  margin: 0;
  font-weight: 300;


  @media (min-width: 660px) {
    font-size: 18px;
    font-weight: 300;
    width: 300px;
    padding-top: 11px;
  }

  @media (min-width: 1200px) {
    padding-top: 30px;
  }
}
