.intro {
  @media (min-width: 1200px) {
    width: 920px;
  }
}

.intro__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: $white;
  width: 228px;
  height: 84px;
  text-align: center;
  margin: 0;
  padding: 28px 26px 59px;

  @media (min-width: 660px) {
    width: 620px;
    min-height: 175px;
    font-size: 50px;
    line-height: 68px;
    padding: 66px 0 87px;
  }

  @media (min-width: 1200px) {
    width: 747px;
    min-height: 106px;
    font-size: 50px;
    line-height: 68px;
    padding: 60px 0 119px 86px;
  }
}

.intro__title--foto {
  @media (min-width: 660px) {
    width: 358px;
    min-height: 106px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1200px) {
    padding-left: 0;
  }
}
