.intro__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  color: $white;
  width: 228px;
  height: 84px;
  text-align: center;
  margin: 0;
  padding-left: 48px;
  padding-top: 30px;
}
