.main-nav__logo {
  display: block;
  width: 74px;
  height: 23px;
  margin: 22px 226px 21px 20px;
}

.main-nav__logo-wrapper {
  position: relative;
  min-height: 66px;
  width: 320px;
  display: flex;
  border-bottom: 1px solid $black;

  @media (min-width: 660px) {
    width: 660px;
    min-height: 109px;
  }

  @media (min-width: 1200px) {
    width: 300px;
    min-height: 110px;
    border: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: 1200px) {
    display: flex;
    width: 900px;
    align-items: center;
  }
}

.main-nav__item {
  list-style: none;
  text-align: center;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: 1200px) {
    border: none;
    box-shadow: none;
  }
}

.main-nav__item:not(:nth-child(4n + 4)) {
  @media (min-width: 1200px) {
    margin-right: 80px;
  }
}

.main-nav__item a {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;

  @media (min-width: 1200px) {
    padding: 0;
    text-transform: none;
    line-height: 18px;
    font-weight: 400;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 30px;
}

.main-nav {
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  }
}
