.main-nav__logo {
  position: absolute;
  display: block;
  width: 74px;
  height: 23px;
  // margin: 22px 226px 21px 20px;
  top: 22px;
  left: 20px;

  @media (min-width: 660px) {
    width: 145px;
    height: 40px;
    // margin: 27px 491px 10px 15px;
    top: 27px;
    left: 20px;
  }

  @media (min-width: 1200px) {
    // border: none;
    width: 147px;
    height: 40px;
    // margin: 27px 491px 10px 0;
    top: 27px;
    left: 0;
  }
}

.main-nav__logo-wrapper {
  position: relative;
  min-height: 66px;
  min-width: 280px;
  // display: flex;
  // justify-content: center;
  border-bottom: 1px solid $dark-blue;

  @media (min-width: 660px) {
    min-height: 110px;
  }

  @media (min-width: 1200px) {
    border: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: 1200px) {
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: flex-end;
  }
}

.main-nav__item {
  position: relative;
  list-style: none;
  text-align: center;
  border-top: 1px solid $black;
  border-bottom: 1px solid $dark-blue;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: 1200px) {
    border: none;
    box-shadow: none;
  }
}

.main-nav__item--current::after {
  @media (min-width: 1200px) {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $white;
    top: 29px;
    left: 0;
  }
}

.main-nav__item:not(:nth-child(4n + 4)) {
  @media (min-width: 1200px) {
    margin-right: 80px;
  }
}

.main-nav__item a {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;

  &[href]:hover {
    color: $red;
  }

  &[href]:focus {
    color: rgba($white, 0.3);
  }

  @media (min-width: 1200px) {
    padding: 0;
    text-transform: none;
    line-height: 18px;
    font-weight: 400;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 21px;
  top: 21px;
  display: none;
  z-index: 2;
  width: 49px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: 660px) {
    top: 41px;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.main-nav {
  position: relative;

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }
}
