.nav-wrapper {
  position: absolute;
  width: 100%;
}

.nav-wrapper--open {
  @media (max-width: 939px) {
    background-color: $dark-blue;
  }
}

.nav-wrapper--closed {
  background-color: rgba($black, 0.3);
}
