.page-header {
  background-color: $black-blue;
  background-image: url(../img/back-mobile.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 733px;
  min-width: 320px;
}

.page-header-form {
  min-height: 237px;
}
