.page-header {
  background-color: $black-blue;
  background-image: url("../img/back-mobile.png");
  background-position: 0 255px;
  background-repeat: no-repeat;
  min-height: 985px;
  min-width: 320px;

  @media (min-width: 620px) {
    min-width: 620px;
    background-image: url("../img/back-tablet.png");
  }

  @media (min-width: 940px) {
    min-width: 940px;
    min-height: 853px;
    background-image: url("../img/back-desktop.png");
    background-position: 50% 0;
    background-size: 1200px 853px;
  }
}

.page-header--form {
  min-height: 489px;

  @media (min-width: 620px) {
    min-height: 705px;
  }

  @media (min-width: 940px) {
    min-height: 384px;
  }
}
