// .page-footer {
//   width: 320px;
// }

.page-footer__wrapper {
  display: flex;
  justify-content: center;
  width: 320px;
  flex-wrap: wrap;
  background-color: $white;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 660px;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    width: 1200px;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  width: 150px;
  margin-bottom: 34px;
}

.page-footer__copyright {
  width: 150px;
  line-height: 18px;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}
