.palette {
  width: 320px;
  min-height: 757px;
  margin-left: auto;
  margin-right: auto;
  background-color: $gray;
  position: relative;

  @media (min-width: 660px) {
    min-width: 660px;
    min-height: 511px;
    margin-bottom: 9px;
  }

  @media (min-width: 1200px) {
    min-height: 514px;
    width: 940px;
    margin-bottom: 27px;
  }
}

.palette__image-label {
  position: absolute;
  width: 280px;
  height: 374px;
  background-image: url("../img/photo-7-mobile.jpg");
  top: 20px;
  left: 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photo-7-mobile@2x.jpg");
    background-size: 280px auto;
  }

  @media (min-width: 660px) {
    width: 300px;
    height: 400px;
    background-image: url("../img/photo-7-tablet.jpg");
    top: 57px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photo-7-tablet@2x.jpg");
      background-size: 300px auto;
    }
  }

  @media (min-width: 1200px) {
    left: 80px;
    background-image: url("../img/photo-7-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photo-7-desktop@2x.jpg");
    }
  }
}

.palette__effects-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 660px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (min-width: 1200px) {
    // min-width: 940px;
  }
}

.palette__effects {
  border: none;
  padding-top: 436px;
  display: flex;
  align-items: center;
  width: 192px;
  justify-content: space-between;
  margin-left: 47px;
  margin-bottom: 30px;

  @media (min-width: 660px) {
    padding: 0;
    margin: 0;
    // flex-direction: column;
    // min-height: 150px;
    // padding-top: 55px;
    // margin-left: 344px;
    // width: 50px;
    // height: 164px;
    // margin-bottom: 57px;
  }

  // @media (min-width: 1200px) {
  //   margin-left: 457px;
  //   min-height: 179px;
  // }
}

.palette__effects-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;

  @media (max-width: 659px) {
    &:hover {
      opacity: 0.5;
    }

    &:focus {
      fill: $red;
      opacity: 1;
    }
  }

  @media (min-width: 660px) {
    position: absolute;
    cursor: auto;
  }
}

.palette__effects-button--crop {
  width: 44px;
  height: 44px;
  fill: $red;
  // fill: rgba($dark-blue, 0.3);

  // &:hover {
  //   opacity: 0.5;
  // }

  // &:focus {
  //   fill: $red;
  //   opacity: 1;
  // }

  @media (min-width: 660px) {
    left: 369px;
    top: 66px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 1200px) {
    width: 44px;
    height: 44px;
    left: 470px;
    top: 55px;
  }
}

.palette__effects-button--fill {
  width: 48px;
  height: 43px;
  fill: rgba($dark-blue, 0.3);

  // &:hover {
  //   opacity: 0.5;
  // }

  // &:focus {
  //   fill: $red;
  //   opacity: 1;
  // }

  @media (min-width: 660px) {
    left: 368px;
    top: 140px;
    width: 24px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $red;
  }

  @media (min-width: 1200px) {
    width: 48px;
    height: 43px;
    left: 469px;
    top: 128px;
  }
}

.palette__effects-button--contrast {
  width: 32px;
  height: 32px;
  fill: rgba($dark-blue, 0.3);

  // &:hover {
  //   opacity: 0.5;
  // }

  // &:focus {
  //   fill: $red;
  //   opacity: 1;
  // }

  @media (min-width: 660px) {
    left: 372px;
    top: 212px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $red;
  }

  @media (min-width: 1200px) {
    width: 32px;
    height: 32px;
    left: 476px;
    top: 204px;
  }
}

.palette__range-wrapper {
  @media (min-width: 660px) {
    width: 275px;
    padding-top: 42px;
    padding-left: 172px;
    margin-bottom: 29px;
  }

  @media (min-width: 1200px) {
    padding-left: 278px;
    width: 410px;
    margin-bottom: 44px;
  }
}

.palette__range {
  position: relative;
  border-bottom: 1px solid rgba($dark-blue, 0.1);
}

.palette__range--upload {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }
}

.palette__range-scale {
  width: 240px;
  height: 2px;
  background-color: $dark-blue;
  margin-left: 40px;
  margin-bottom: 34px;

  @media (min-width: 660px) {
    width: 202px;
    margin-top: 34px;
    margin-left: 56px;
  }

  @media (min-width: 1200px) {
    width: 288px;
    margin-left: 92px;
  }
}

.palette__button {
  height: 163px;
  text-align: center;
  margin-top: 38px;
  cursor: pointer;

  @media (min-width: 660px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 367px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    width: 410px;
    justify-content: space-between;
    margin-left: 470px;
    margin-top: 102px;
    height: 75px;
  }
}

.palette__range-button {
  width: 14px;
  height: 14px;
  padding: 1px 5px;
  border-radius: 50%;
  border: 2px solid $red;
  position: absolute;
  top: -5px;
  right: 73px;
  cursor: pointer;

  &:focus {
    background-color: $red;
  }
}

.palette__range-button--crop {
  @media (min-width: 660px) {
    right: 45px;
  }

  @media (min-width: 1200px) {
    right: 70px;
  }
}

.palette__range-button--fill {
  @media (min-width: 660px) {
    right: 180px;
  }

  @media (min-width: 1200px) {
    left: 128px;
  }
}

.palette__range-button--contrast {
  @media (min-width: 660px) {
    right: 109px;
  }

  @media (min-width: 1200px) {
    right: 167px;
  }
}

.palette__effects-crop {
  @media (min-width: 660px) {
    width: 22px;
  }

  @media (min-width: 1200px) {
    width: 44px;
  }
}

.palette__effects-fill {
  width: 47px;

  @media (min-width: 660px) {
    width: 24px;
  }

  @media (min-width: 1200px) {
    width: 47px;
  }
}

.palette__effects-contrast {
  @media (min-width: 660px) {
    width: 16px;
  }

  @media (min-width: 1200px) {
    width: 32px;
  }
}
