.photo {
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.photo__item-panorama {
  width: 320px;
  position: relative;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 660px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.photo__sticker {
  position: absolute;
  right: 20px;
  width: 140px;
  height: 30px;
  background-color: $red;
  color: $white;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding-top: 6px;
  text-align: center;

  @media (min-width: 660px) {
    top: 57px;
    right: 21px;
  }

  @media (min-width: 1200px) {
    top: 54px;
    right: 131px;
  }
}

// .photo__sticker span {
//   display: block;
//   padding-top: 6px;
//   text-align: center;
// }

.photo__description {
  background-color: $gray;
  width: 280px;
  margin: -7px auto 20px;

  @media (min-width: 660px) {
    width: 300px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 52px;
  }
}

.photo__description--panorama {
  @media (min-width: 660px) {
    width: 620px;
    position: relative;
    margin-bottom: 51px;
  }

  @media (min-width: 1200px) {
    width: 940px;
    margin-bottom: 50px;
  }
}

.photo__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 620px;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    width: 940px;
  }
}

.photo__item {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 300px;
    margin: 0;
  }
}

.photo__header {
  font-weight: 700;
  padding-left: 17px;
  padding-top: 18px;

  @media (min-width: 660px) {
    padding-left: 30px;
    padding-top: 23px;
  }

  @media (min-width: 1200px) {
    padding-left: 27px;
  }
}

.photo__header span {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.photo__description p {
  width: 255px;
  padding-left: 17px;
  margin: 0;

  @media (min-width: 660px) {
    width: 246px;
    padding-left: 30px;
    min-height: 48px;
  }

  @media (min-width: 1200px) {
    padding-left: 27px;
  }
}

.photo__description br {
  @media (min-width: 660px) {
    display: none;
  }
}

.photo__description--panorama p {
  @media (min-width: 660px) {
    order: 1;
    width: 520px;
    padding-bottom: 24px;
  }

  @media (min-width: 1200px) {
    width: 874px;
    padding-bottom: 0;
  }
}

.photo__footer {
  display: flex;
  width: 200px;
  margin: 0 0 0 17px;
  padding-top: 11px;
  padding-bottom: 18px;

  @media (min-width: 660px) {
    flex-direction: row-reverse;
    width: 255px;
    padding-bottom: 0;
  }

  @media (min-width: 1200px) {
    margin-left: 16px;
    padding-top: 13px;
  }
}

.photo__footer--panorama {
  @media (min-width: 660px) {
    width: 131px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 25px;
    right: 30px;
  }

  @media (min-width: 1200px) {
    width: 130px;
    right: 31px;
  }
}

.photo__footer p {
  margin: 0;
  padding-left: 18px;
  color: $red;
  text-transform: uppercase;
  font-size: 12px;

  @media (min-width: 660px) {
    padding-left: 12px;
  }
}

.photo__footer span {
  padding-left: 3px;
}

.photo-panorama {
  @media (min-width: 660px) {
    width: 660px;
    height: auto;
  }

  @media (min-width: 1200px) {
    width: 1200px;
    height: auto;
  }
}

.photo-user {
  @media (min-width: 660px) {
    width: 300px;
    height: auto;
  }
}
