.main-page .promo {
  // width: 280px;
  // margin-left: auto;
  // margin-right: auto;

  // @media (min-width: 620px) {
  //   min-width: 620px;
  // }

  @media (min-width: 940px) {
    width: 940px;
    padding: 0;
  }
}

.promo__text {
  width: 280px;
  text-align: center;
  line-height: 30px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 490px;
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    width: 756px;
  }
}

.promo__phrase {
  width: 250px;
  line-height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 490px;
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    width: 572px;
  }
}
