.rates__wrapper {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.rates__list {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid $light-grey;
  margin-bottom: 35px;
}

.rates__row-1 {
  height: 100px;
  background-color: $dark-blue;
  color: $white;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}

.rates__row-2,
.rates__row-3,
.rates__row-4 {
  height: 60px;
  line-height: 30px;
  text-transform: uppercase;
}

.rates__column-1,
.rates__column-2,
.rates__column-3,
.rates__column-4 {
  width: 278px;
  border: 2px solid $light-grey;
  box-sizing: border-box;
  padding-left: 20px;
}

.rates__name {
  display: block;
  width: 235px;
}

.rates__price {
  font-weight: 300;
  font-size: 18px;
}

.rates__toggles {
  text-align: center;
}
