.reviews__item {
  margin: 0;
}

.reviews__wrapper {
  width: 320px;
  height: 402px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
}

.reviews__autor-info {
  margin-left: 21px;
  margin-bottom: 25px;
}

.reviews__author-name {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-left: 60px;
  margin-bottom: 13px;
  color: $black;
  width: 158px;
}

.reviews__text {
  width: 280px;
  text-align: center;
  margin: 0;
  line-height: 30px;
}
