.reviews__item {
  margin: 0;
}

.reviews__wrapper {
  min-width: 320px;
  min-height: 402px;
  text-align: center;
  padding-top: 41px;
  background-image: linear-gradient(177deg, $white 80%, $gray 80%, $gray 20%);

  @media (min-width: 660px) {
    min-width: 620px;
    padding-top: 95px;
    min-height: 330px;
  }

  @media (min-width: 1200px) {
    min-width: 900px;
    padding-top: 186px;
  }
}

.reviews__autor-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;

  @media (min-width: 660px) {
    width: 620px;
  }

  @media (min-width: 1200px) {
    width: 800px;
  }
}

.reviews__author-name {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 13px;
  color: $black;
  width: 175px;
  padding: 0 10px;

  @media (min-width: 660px) {
    order: 2;
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
    width: 224px;
  }
}

.reviews__autor-data {
  display: none;

  @media (min-width: 660px) {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.reviews__text {
  width: 280px;
  text-align: center;
  margin: 0;
  line-height: 30px;

  @media (min-width: 660px) {
    width: 620px;
    margin-bottom: 36px;
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    width: 695px;
    font-size: 18px;
  }
}
