@media (min-width: 660px) {
  .slider__toggle-rates {
    display: none;
  }
}

@media (min-width: 1200px) {
  .slider__toggles {
    position: relative;
  }

  .slider__toggle--left {
    position: absolute;
    top: -200px;
    left: -100px;
  }

  .slider__toggle--right {
    position: absolute;
    top: -200px;
    right: -100px;
  }

  .slider__toggle--middle {
    display: none;
  }
}
