.social__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 12px auto 30px auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    width: 173px;
  }
}


.social__link {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba($dark-blue, 0.1);
  border-radius: 50%;

  &:hover {
    border-color: $dark-blue;
  }

  &:focus {
    border-color: rgba($dark-blue, 0.1);
    opacity: 0.3;
  }
}

// .social__item {
//   border: 3px solid rgba($dark-blue, 0.1);
//   border-radius: 50%;

//   &:hover {
//     border-color: $dark-blue;
//   }

//   &:focus {
//     border-color: rgba($dark-blue, 0.1);
//   }
// }
