.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 620px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    // padding-left: 130px;
    // padding-right: 130px;
  }
}
